/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
body {
	font-family: 'Lato', sans-serif;
	background-color: #1a1a1a;
}

/* Buttons */
.btn {
	background-color: transparent;
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	color: #fff;
}
.btn.btn-black {
	background-color: #101010;
}
.btn.btn-gray {
	background-color: #212122;
}

/* Header */
header {
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

/* Main */
main {
	height: calc(100vh - 110px);
}
/* Footer */
footer {
	height: 80px;
	background-color: red;
}